{% extends "base.html" %}
{% block style %}
<style>
    html, body {
        height: 100%;
        font-family: "Noto JP", serif;
    }

    .auth-box {
        border: 3px solid lightgrey;
        border-radius: 10px;
        padding-top: 25px;
        padding-bottom: 25px;
        width: 600px;
        margin: auto;
    }

    .login-form-container {
        width: 300px;
        margin: auto;
    }

    .registration-form-container {
        width: 400px;
        margin: auto;
    }

    .outer-area {
        min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
        min-height: 100vh; /* These two lines are counted as one :-)       */
      
        display: flex;
        align-items: center;

        background: -moz-linear-gradient(top right, #80d0c7, #13547a); 
        background: -webkit-linear-gradient(top right, #80d0c7, #13547a); 
        background: linear-gradient(to bottom left, #80d0c7, #13547a); 
    }
</style>
{% endblock %}

{% block content %}
<div class="outer-area mx-auto my-auto" style="background-color: #00438B;">
    <div class="auth-box text-center"style="background-color: #F5F5F5; margin-top: 3vw; margin-bottom: 3vw;">
        {% block auth %}
        {% endblock %}
    </div>
</div>
{% endblock %}